<% include ../../inc/usercpHead %>
<% include ../../inc/admincpsider %>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4>User List</h4>
    </div>
    <div class="panel-body">
        <h3>User Information</h3>
        <div class="list-group-item">
            <div class="form-group">
                <strong>User Name: <%= user.name %> (<%= user.isBanned ? "Banned" : "Active"%>)</strong>
            </div>
            <div class="form-group">
                <strong>Username:</strong> <%= user.username %>
            </div>
            <div class="form-group">
                <strong>Credits:</strong> <%= user.credits %>
            </div>
            <div class="form-group">
                <strong>Email:</strong> <%= user.meta.email %>
            </div>
            <div class="form-group">
                <strong>Phone:</strong> <%= user.meta.phone %>
            </div>

            <hr>
            <a href="/admin/users/<%= user._id %>/edit" class="btn btn-info"> Edit User</a>
            <a href="/admin/users/" class="btn btn-success">Go Back</a>
        </div>
        <div class="list-group-item">
            <h4>Recharge User:</h4>
            <form class="" action="/admin/recharge" method="post">
                <div class="form-group">
                    <input type="hidden" value="<%= user._id %>" name="user">
                </div>
                <div class="form-group">
                    <label for="ammount">amount:</label>
                    <input type="number" name="amount" value="" class="form-control">
                </div>
                <div class="form-group">
                    <label for="reason">reason:</label>
                    <input type="text" name="reason" value="" class="form-control">
                </div>
                <button class="btn btn-success">Recharge!</button>
            </form>
        </div>
        <div class="list-group-item">
            <form class="" action="/admin/users/<%= user._id %>?_method=put&type=banning" method="post">
                <div class="form-group row">
                    <label class="col-sm-2 form-label"> Select User State</label>
                    <div class="col-sm-10">
                        <select name="state">
                            <option value="banned">Banned</option>
                            <option value="active">Active</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-success">Save</button>
            </form>
        </div>
        <hr>
        <button name="button" class="btn btn-success">Save</button>
        <a href="/admin/users/<%= user._id %>" class="btn btn-info">Go Back</a>
    </div>
    </div>
</div>
<% include ../../inc/footer %>
